<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="{{ description or meta.description }}" />
        <meta name="keywords" content="{{ keywords or meta.keywords }}">
        <meta itemprop="name" content="{{ title or meta.title }}" />
        <meta itemprop="image" content="{{ settings.site_url }}{{ settings.site_path }}{{ share_img or meta.share_img }}" />

        <title>{{ title or meta.title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    </head>

    <body>
        HELLO???!
    </body>
</html>